@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b0b0c;
  --fg: #f5f5f7;
}

html, body, #__next {
  height: 100%;
}

body { background: var(--bg); color: var(--fg); }

.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }

